table {
  width: 100%;
}
.bodyClass1 {
  background: #00ff00;
  font-size: 1.75rem;
  margin: 20px;
}
.bodyClass2 {
  background: #fffdd0;
  font-size: 1.75rem;
  margin: 20px;
  
}
mat-toolbar {
  font-size: 2.5rem;
  font-family: sans-serif;
}
p {
  font-family: sans-serif;
  margin: 20px;
}
mat-card-title{
  font-size: 2.5rem;
}